body {
}
#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0px;
  background-color: #abc1d1;
}

#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}

@keyframes fadeIn {
  to {
    transform: translateY(-30px);
    opacity: 1;
  }
  from {
    transform: none;
    opacity: 0;
  }
}

.main-chat {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s forwards;
}

#chat-screen .status-bar {
  z-index: 2;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 20px;
  opacity: 0.8;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  padding: 0px var(--horizontal-space);
  box-sizing: border-box;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 18px;
  margin-right: 15px;
}

.message__author {
  opacity: 0.6;
  font-size: 13px;
  margin-bottom: 8px;
  display: block;
  font-weight: 500;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 8px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 17px;
}

.message__time {
  font-size: 12px; 
  opacity: 0.8;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 5px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
}

.reply .reply__column:first-child {
  width: 10%;
  margin-left: -50px;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  height: 30px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #888;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -4px;
  top: 2px;
}

.reply__column:last-child > i {
  right: 35px;
  top: 18px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}



















